@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Fira+Code:wght@400&display=swap');


@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #0E0E0E;
  color: white;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

html {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Add this to your global CSS file */
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}